<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-menu menuId="first-menu" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Masculino</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-card>
      <img alt="Silhouette of mountains"
        src="https://firebasestorage.googleapis.com/v0/b/sportarena-74f2d.appspot.com/o/masculino%2FCamisa%20Polo%20Fluminense%202324%20Viagem%20Umbro%20Masculina%20-%20Vermelho%2BVerde.png?alt=media&token=054d1daf-7979-4917-bc95-aa6383d145d8" />
      <ion-card-header>
        <ion-card-title>R$120,97</ion-card-title>
        <ion-card-subtitle></ion-card-subtitle>
      </ion-card-header>
      <ion-card>
        <img alt="Silhouette of mountains"
          src="https://firebasestorage.googleapis.com/v0/b/sportarena-74f2d.appspot.com/o/masculino%2FT%C3%AAnis%20Mizuno%20Cool%20Ride%20Masculino%20-%20Verde%20Militar.png?alt=media&token=769c633d-efd4-4729-90fd-0be6ebd2f1d9" />
        <ion-card-header>
          <ion-card-title>R$80,99</ion-card-title>
          <ion-card-subtitle></ion-card-subtitle>
        </ion-card-header>
      </ion-card>
      <ion-card>
        <img alt="Silhouette of mountains"
          src="https://firebasestorage.googleapis.com/v0/b/sportarena-74f2d.appspot.com/o/masculino%2FKit%203%20Shorts%20Bermudas%20Academia%20Masculina%20Treino%20Corrida%20TRAINING%20184%20-%20Preto%2BCinza.png?alt=media&token=5d315df1-2f92-46ec-a1df-b1bc4fd306f0" />
        <ion-card-header>
          <ion-card-title>R$100,00</ion-card-title>
          <ion-card-subtitle></ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-card>
  </ion-content>
</ion-menu>

<ion-menu menuId="second-menu" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Feminino</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-content class="ion-padding">
      <ion-card>
        <img alt="Silhouette of mountains"
          src="https://firebasestorage.googleapis.com/v0/b/sportarena-74f2d.appspot.com/o/feminino%2FCal%C3%A7a%20Legging%20Max%20Lupo%20Sport%20Feminina%20Fitness%20Academia%20Leguin%20Legues%2071053%20Original%20-%20Preto.png?alt=media&token=e39371dd-82c1-4aba-924e-d860e4a89631" />
        <ion-card-header>
          <ion-card-title>R$120,91</ion-card-title>
          <ion-card-subtitle></ion-card-subtitle>
        </ion-card-header>
        <ion-card>
          <img alt="Silhouette of mountains"
            src="https://firebasestorage.googleapis.com/v0/b/sportarena-74f2d.appspot.com/o/feminino%2FBlusa%20Moda%20V%C3%ADcio%20Gola%20Careca%20Manga%20Longa%20Tule%20Feminino%20-%20Preto%2BVermelho.png?alt=media&token=a41ff014-eccc-410b-9a43-f7284d608dbb" />
          <ion-card-header>
            <ion-card-title>R$80,99</ion-card-title>
            <ion-card-subtitle></ion-card-subtitle>
          </ion-card-header>
        </ion-card>
        <ion-card>
          <img alt="Silhouette of mountains"
            src="https://firebasestorage.googleapis.com/v0/b/sportarena-74f2d.appspot.com/o/feminino%2FCamiseta%20Olympikus%20Runner%20Bt%20Feminina%20-%20Cinza.png?alt=media&token=3b125c47-923f-4c91-b5b5-7e6fa6a3ca88" />
          <ion-card-header>
            <ion-card-title>R$100,00</ion-card-title>
            <ion-card-subtitle></ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-card>
    </ion-content>

  </ion-content>
  </ion-menu>

<ion-menu side="end" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Infantil</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-card>
      <img alt="Silhouette of mountains"
        src="https://firebasestorage.googleapis.com/v0/b/sportarena-74f2d.appspot.com/o/infantil%2FChinelo%20Slide%20Nuvem%20Feminino%20Moda%20Infantil%20Sandalia%2012.54%20-%20Pink.png?alt=media&token=c7a3c5f7-4437-40d6-a662-e81257e54d54" />
      <ion-card-header>
        <ion-card-title>R$200,00</ion-card-title>
        <ion-card-subtitle></ion-card-subtitle>
      </ion-card-header>
    </ion-card>
    <ion-card>
      <img alt="Silhouette of mountains"
        src="https://firebasestorage.googleapis.com/v0/b/sportarena-74f2d.appspot.com/o/infantil%2FKit%204%20Shorts%20Infantil%20Juvenil%20Menina%20Algod%C3%A3o%20%2B%20Cotton%20Roupa%20Feminina%20Crian%C3%A7a%20Bermuda%20Ver%C3%A3o%2004-16%20-%20Sortido.png?alt=media&token=363dcf17-5a0a-4874-9754-7d0a9884187e" />
      <ion-card-header>
        <ion-card-title>R$10,00</ion-card-title>
        <ion-card-subtitle></ion-card-subtitle>
      </ion-card-header>
    </ion-card>
    <ion-card>
      <img alt="Silhouette of mountains"
        src=" https://firebasestorage.googleapis.com/v0/b/sportarena-74f2d.appspot.com/o/infantil%2FCamiseta%20Infantil%20Puma%20Bob%20Esponja%20Unissex%20-%20Preto.png?alt=media&token=8e66c991-9779-4ea0-bddf-b8955928a468" />
      <ion-card-header>
        <ion-card-title>R$100,00</ion-card-title>
        <ion-card-subtitle></ion-card-subtitle>
      </ion-card-header>
    </ion-card>

  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-content class="ion-padding">
    <!-- <p>Tap a button below to open a specific menu.</p> -->

    <ion-button expand="block" (click)="openFirstMenu()">Masculino</ion-button>
    <ion-button expand="block" (click)="openSecondMenu()">Feminino</ion-button>
    <ion-button expand="block" (click)="openEndMenu()">Infantil</ion-button>
  </ion-content>
</div>
