<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-menu menuId="first-menu" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Masculino</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding"></ion-content>
</ion-menu>

<ion-menu menuId="second-menu" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Feminino</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding"></ion-content>
  </ion-menu>

<ion-menu side="end" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Infantil</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding"></ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-content class="ion-padding">
    <!-- <p>Tap a button below to open a specific menu.</p> -->

    <ion-button expand="block" (click)="openFirstMenu()">Masculino</ion-button>
    <ion-button expand="block" (click)="openSecondMenu()">Feminino</ion-button>
    <ion-button expand="block" (click)="openEndMenu()">Infantil</ion-button>
  </ion-content>
</div>
