ion-content{

    


    --background: url(../../assets/tab1.jpg) no-repeat center/cover fixed;
    }
    ion-card-title{ 
        font-size: 20px;
        color: #ff0000;
        margin: 5px;

    }
    ion-card-subtitle{
        margin: 0;
        font-size: 14px;
        background-color: #b6b6b6;

    }
    ion-card-header{
        padding: 0;
        background-color: rgb(136, 136, 136);
        margin: 0px;
        border-radius: 20px;
    }
    
    ion-card{
        width: 170px;
        padding: 0  ;
        margin: 5px;
    }
    .cards{
        display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    }