<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header> -->
  <app-carousel />
  <div class="cards">
    <ion-card>
      <img alt="Silhouette of mountains"
        src="https://firebasestorage.googleapis.com/v0/b/sportarena-74f2d.appspot.com/o/produtos%2Fblusa.png?alt=media&token=28734156-24ad-4d55-a7ff-3ab67d1c0fc0" />
      <ion-card-header>
        <ion-card-title>R$45,99</ion-card-title>
        <ion-card-subtitle>Grande oferta</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
    <ion-card>
      <img alt="Silhouette of mountains"
        src="https://firebasestorage.googleapis.com/v0/b/sportarena-74f2d.appspot.com/o/produtos%2Fblusa.png?alt=media&token=28734156-24ad-4d55-a7ff-3ab67d1c0fc0" />
      <ion-card-header>
        <ion-card-title>R$45,99</ion-card-title>
        <ion-card-subtitle>Grande oferta</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
    <ion-card>
      <img alt="Silhouette of mountains"
        src="https://firebasestorage.googleapis.com/v0/b/sportarena-74f2d.appspot.com/o/produtos%2Fblusa.png?alt=media&token=28734156-24ad-4d55-a7ff-3ab67d1c0fc0" />
      <ion-card-header>
        <ion-card-title>R$45,99</ion-card-title>
        <ion-card-subtitle>Grande oferta</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
    <ion-card>
      <img alt="Silhouette of mountains"
        src="https://firebasestorage.googleapis.com/v0/b/sportarena-74f2d.appspot.com/o/produtos%2Fblusa.png?alt=media&token=28734156-24ad-4d55-a7ff-3ab67d1c0fc0" />
      <ion-card-header>
        <ion-card-title>R$45,99</ion-card-title>
        <ion-card-subtitle>Grande oferta</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </div>
  <!-- <ion-card-content>
    <ion-list>
      <ion-item>
        <ion-thumbnail slot="start">
          <img alt="Silhouette of mountains" src="https://firebasestorage.googleapis.com/v0/b/sportarena-74f2d.appspot.com/o/produtos%2Fblusa.png?alt=media&token=28734156-24ad-4d55-a7ff-3ab67d1c0fc0" />
        </ion-thumbnail>
        <ion-label>blusas</ion-label>
        <p>Kit 4 Camiseta Masculina Segunda Pele Proteção Solar UV Térmica Praia Manga Longa Blusa Camisa - Cinza+Verde</p>
      </ion-item>

      <ion-item>
        <ion-thumbnail slot="start">
          <img alt="Silhouette of mountains" src="https://firebasestorage.googleapis.com/v0/b/sportarena-74f2d.appspot.com/o/produtos%2Ftenis.png?alt=media&token=248b63ef-a1e8-4e00-aa09-5dc49b6822b4" />
        </ion-thumbnail>
        <ion-label>tenis</ion-label>
        <p>Tênis Oakley Stratus Unissex - Preto</p>
      </ion-item>

      <ion-item>
        <ion-thumbnail slot="start">
          <img alt="Silhouette of mountains" src="https://firebasestorage.googleapis.com/v0/b/sportarena-74f2d.appspot.com/o/produtos%2Fber.png?alt=media&token=1721eb75-2a94-4a9e-8146-ac031d896709" />
        </ion-thumbnail>
        <ion-label>Bermudas</ion-label>
        <P>Kit 5 Shorts Bermudas Liso Lisa Masculino Tactel Básico Moda Básica - Preto+Azul</P>
      </ion-item>

     
    </ion-list>
  </ion-card-content> -->


  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>