#externa {
    position: relative;
    width: 100%;
}

#interna {
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
}
ion-icon{
    font-size: 25px;
}
a{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-left: 12px;
}
p{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
}